html,
body {
    width: 100%;
    overflow-x: hidden;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#090909;
color:white;
font-family:Inter,sans-serif;
overflow-x:hidden;

}

.container{

width:100%;
max-width:430px;

margin:auto;

padding:40px 24px 80px;

text-align:center;

position:relative;

z-index:10;

}

.logo{

width:105px;

margin-bottom:14px;

}

.company{

color:#d6b25e;

letter-spacing:4px;

font-size:12px;

margin-bottom:25px;

}

h1{

font-size:34px;

line-height:1.22;

font-weight:600;
letter-spacing:-0.8px;

margin-bottom:24px;

}

h1 span{

color:#d6b25e;

}

.description{

font-size:16px;

line-height:1.75;

color:#c7c7c7;
margin:0 auto 32px;
max-width:320px;

}

.coming{

display:inline-block;

padding:10px 20px;

border:1px solid rgba(214,178,94,.4);

border-radius:30px;

margin-bottom:30px;

color:#d6b25e;

font-weight:500;

}

.conversation{

color:#bfbfbf;

line-height:1.8;

margin-bottom:35px;

}

.contact-card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

border-radius:20px;

padding:10px;

margin-bottom:50px;

}

.contact-card a{

display:block;

padding:18px;

text-decoration:none;

color:white;

border-bottom:1px solid rgba(255,255,255,.06);

font-size:16px;

}

.contact-card a:last-child{

border:none;

}

.button{

display:block;

background:#d6b25e;

color:black;

font-weight:700;

text-decoration:none;

padding:20px;

border-radius:18px;

font-size:18px;

transition:.3s;

}

.button:hover{

transform:translateY(-3px);

}

.glow{

position:fixed;

width:350px;

height:350px;

background:#d6b25e;

filter:blur(170px);

opacity:.18;

border-radius:50%;

}

.glow1{

top:-120px;

left:-120px;

}

.glow2{

right:-120px;

bottom:-120px;

}

@media(min-width:768px){

.container{

max-width:600px;

}

h1{

font-size:60px;

}

}